.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.data_val{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0px 9px 0px 9px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 60px;
    font-size: 25px;
    align-items: center;
}